*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: black;
}

.foto-1{
    width: 30rem;
    height: 30rem;
}

h1,h2{
    font-family: 'Barlow Condensed', sans-serif;
}

.ancors{
   color: rgba(255, 255, 255, 0.719);
   text-decoration: none;
}

.imagen-grande{
    width: 30rem;
    height: 50rem;
}

.imagen-chica{
    width: 30rem;
    height: 25rem;
}

.imagenes-section-2{
    width: 30rem;
    height: 30rem;
}

.imagenes-section-3{
    width: 20rem;
    height: 25rem;
}